body {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    aspect-ratio: 1;
    flex: 1;
    border: none;
    border-radius: 50%;
    background-color: #333;
    color: white;
    font-size: xx-large
}


.display {
    flex: 3;
}

#equal {
    border-radius: 10000px;
    flex: 2;
    aspect-ratio: 2;
}

.orange {
    background-color: darkorange;
}

.grey {
    background-color: grey;
}

.calculator {
    display: flex;
    flex-direction: column;
    background-color: #000;
    height: 100vh;
    border: none;
    aspect-ratio: 4/7;
}

.keypad {
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex: 4;
}

.row {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
}